{% load static %}
<header class="pr__header pr__dark" data-uk-sticky="top: 100vh; animation: uk-animation-slide-top;">
  <div class="uk-container">
    <div class="inner">
      <div class="logo" style="height: 100px; width: 100px; padding-top: 15px;">
        <a href="/">
          <image src="{%static 'assets/logo.png'%}"></image>
        </a>
      </div>

      <div class="navbar pr-font-second">
        <nav class="menu" data-uk-scrollspy-nav="offset: 0; closest: li; scroll: true">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{% url 'website:about' %}">About</a></li>
            <li><a href="{% url 'website:service' %}">Services</a></li>
            <li><a href="{% url 'website:project' %}">Projects</a></li>
            <li><a href="{% url 'website:blog' %}">Blog</a></li>
            <li><a id="pr__contact" href="#pr__contact__form" data-uk-toggle="">Contact</a></li>
          </ul>
        </nav>

      </div>
      <div class="navbar-tigger" data-uk-toggle="target: #navbar-mobile">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
